<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  </head>
   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">TasteTrack</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/allrestaurants">All Restaurant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/searchrestaurants">Search Restaurant</a>
                        </li>
                       
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/api/addNewRestaurant">Add Restaurant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/data">Update Restaurant</a>
                        </li>
                    </ul>
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Sarath | n01580673  <span class="text-muted mx-2">/</span>Jaimaica | n01516797</a>
                         </li>
                         
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
    
  <body>
    {{{body}}}
  </body>
  <footer class="border-top footer text-muted">
      <p> sarath.c495@gmail.com / jdsnavarro.gmail.com</p>
  </footer>
</html>